@media screen and (min-width:768px) and (max-width:922px) {
    /* Tablet */

    .fundo1{
        background: url(imgs/hero-bg.jpg) center right / cover no-repeat ;    
    }
    
    .couteudo1 > h1{  
        padding: 50px 0px 0px 0px;
        font-family: 'kaike4';
        font-weight: bolder;
        font-size: 70px;
    }

    .texto2, .texto3,.texto4{
        width: 300px;
    }
    
    .couteudo2 > img{
        width: 50%;
    }

    .couteudo3{
        flex-direction: row-reverse;    
    }
 
    .couteudo3 > img{
        width: 50%;
    }

    .couteudo4 > img{
        width: 50%;
    }
  
    .login{
        padding: 0px 35px 0px 0px;
    }

    ul,li,a{
        display: none;
    }
    
}

@media screen and (min-width:922px) and (max-width:1200px) {
    /* pc*/

    .fundo1{
        justify-content: center;
        align-items: center ;   
    }
    
    .couteudo1{
        justify-content: center;
        align-content:flex-start;
        gap: 50px;
    }
    
    .couteudo1 > h1{  
        padding-top: 100px;
        font-size: 70px;
    }

    .couteudo1 > p{
        text-align: center;
    }

    .botoes{
        flex-wrap: nowrap;
    }

    .botao1{
        margin-right: 50px;
        margin-top: 0px;
    }
    
    .botao2{
        margin-top: 0px;
    }

    .couteudo2 > img{
        width: 45%;
    }

    .couteudo3{
        flex-direction: row-reverse;    
    }
 
    .couteudo3 > img{
        width: 45%;
    }

    .couteudo4 > img{
        width: 45%;
    }

    ul{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    li,a{
        display: block;
        text-decoration: none;
        color: white;
        padding: 0px 10px 0px 10px;
    }
    
}

@media screen and (min-width:1200px) {
    /* tv*/

    header{
        justify-content: space-evenly;
    }

    .fundo1{
        justify-content: center;
        align-items: center ;
        background: url(imgs/hero-bg.jpg) center bottom / cover no-repeat ;    
    }

    .couteudo1 > br{
        display: none;
    }
    
    .couteudo1{
        justify-content: center;
        gap: 50px;
        width: 800px;
    }
    
    .couteudo1 > h1{  
        padding-top: 100px;
        font-family: 'kaike4';
        font-weight: bolder;
        font-size: 70px;
    }

    .couteudo1 > p{
        text-align: center;
    }

    .botoes{
        display: flex;
        align-items: center;
        justify-content: center;
        align-content: center;
        flex-wrap: nowrap;
        width: 720px;
    }
    
    .botao1{
        margin-right: 50px;
        margin-top: 0px;
    }
    
    .botao2{
        margin-top: 0px;
    }  

    .fundo2, .couteudo3{
        justify-content: space-evenly;
    }

    .couteudo2 > img{
        width: 700px;
    }

     .couteudo3{
        flex-direction: row-reverse;    
    }
    

    .couteudo2 > img{
        width: 45%;
    }
 
    .couteudo3 > img{
        width: 45%;
    }

    .couteudo4 > img{
        width: 45%;
    }

    ul{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    li,a{
        display: block;
        text-decoration: none;
        color: white;
        padding: 0px 10px 0px 10px;
    }
    
}