@media screen and (min-width:768px) and (max-width:922px) {
    /* Tablet */
    body{
        background-color: aqua;
    }

    ul{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    li,a{
        display: block;
        text-decoration: none;
        color: white;
        padding: 0px 5px 0px 5px;
    }
    
}

@media screen and (min-width:922px) and (max-width:1200px) {
    /* pc*/

    body{
        background-color: red;
    }

    ul{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    li,a{
        display: block;
        text-decoration: none;
        color: white;
        padding: 0px 10px 0px 10px;
    }
    
}

@media screen and (min-width:1200px) {
    /* tv*/

    header{
        display: flex;
        justify-content: space-around;
    }

    body{
        background-color: blue;
    }

    ul{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    li,a{
        display: block;
        text-decoration: none;
        color: white;
        padding: 0px 10px 0px 10px;
    }
    
}