@font-face {
    font-family: 'kaike';
    src: url(fonts/whitneybold.woff);
}

@font-face {
    font-family: 'kaike1';
    src: url(fonts/whitneybook.woff);
}

@font-face {
    font-family: 'kaike2';
    src: url(fonts/whitneylight.woff);
}

@font-face {
    font-family: 'kaike3';
    src: url(fonts/whitneymedium.woff);
}

@font-face {
    font-family: 'kaike4';
    src: url(fonts/whitneysemibold.woff);
}

*{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

body{
    overflow-x: hidden; 
}

html{
    height: 100vh;
    width: 100vw;
}

header{
    display: flex;
    justify-content: space-between;
    padding: 15px 0px 15px 0px;
    width: 100%;
    height: 80%;
    background-color: #404EED ;
}

ul,li,a{
    display: none;
}

.login{
    display: flex;
    align-items: center;
    padding: 0px 25px 0px 0px;
}

.login1{
    background-color: white;
    font-size: 14px;
    border-radius: 50px;
    padding: 11px 15px 11px 15px;
    border: none;
}

.fundo1{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start ;
    padding: 0px 15px 0px 15px;
    height: 556px;
    
    background: url(imgs/hero-bg.jpg) center center / cover no-repeat ;    
}

.couteudo1{
    display: flex;
    flex-wrap: wrap; 
    justify-content: flex-start;
    align-content:flex-start;
    gap: 25px;
    padding: 10px;
    color: white;
    height: 500px;
    width: 80vw;
}
.couteudo1 > p{
    font-family: 'kaike2';
    font-size: 20px;
    text-align: start;
}

.couteudo1 br{
    display: none;
}

.couteudo1 > h1{  
    padding-top: 50px;
    font-family: 'kaike4';
    font-weight: bolder;
    font-size: 40px;
}

.botoes{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
    width: 515px;
}

.botoes > button{
    width: 293px;
    height: 58px;
    font-size: 20px ;
    border: none;
    border-radius: 50px;
    
}

.botao1{
    margin-top: 20px;
}

.botao2{
    margin-top: 10px;
    background-color: #313338;
    color: white;
}

.couteudo2{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    align-content: center;
    background-color: white;
    width: 100vw;
    height: 556px;  
}

.texto2{
    display: flex;
    flex-wrap: wrap;
    gap: 15px;   
    width: 400px;
}

.texto2 > h2{
    font-family: 'kaike';
    font-weight: bold;
    font-size: 20px;
}

.texto2 > p{
    font-family: 'kaike1';
}

.couteudo2 > img{
    width: 100%;
}
