@charset "UTF-8";

@font-face {
    font-family: 'discord';
    src: url(/fonts/Uni\ Sans\ Thin.otf);
}

*{
    margin: 0;
    padding: 0;
}

html{
    width: 100vw;
    height: 98vh;
}

body{
    background-color: grey;
}

header{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: #404EED;
    width: 100vw; 
    height: 80px;  
}


ul{
    display: flex;
    list-style: none;
}

li{
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    font-size: 15px;
    padding: 24px;
}

a{
    color: white;
    text-decoration: none;
}

.login{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    
}

.login1{
    background-color: white;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    margin-right: 10px;
    border-radius: 50px;
    padding: 11px 15px 11px 15px;
    border: none;
}
